@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p{
    float: left;
    margin-right: 10px;
}

body{
    background-color: grey;
}

header{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font: 400 20px "Roboto", sans-serif;
    text-align: center;
    color: #AD0003;
}

#menu{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    width: 160px;
    height: 35px;

    font: 600 14px "Roboto", sans-serif;
    text-align: center;
    color: #AD0003;
    border: 2px #AD0003 solid;
    border-radius: 15px;
}

.posicao{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.celula{
    
    width: 100px;
    height: 80px;
    
    
    border: 2px black solid;
    border-top: none;
    border-right: none;

    
    text-align: center;
    padding-top: 20px;
}


.celula:nth-child(3n + 1){
    border-left: none;
}


.celula:nth-child(n + 7){
    border-bottom: none;
}

.opcao{
    height: 50px;
}

.mensagem{
    float: left;
    margin: auto;
    margin-left: 560px;
    margin-right: 15px;
    margin-top: 40px;
    font: 600 15px "Roboto", sans-serif;
    text-align: center;
    color: #AD0003;
}

#botao{
    margin-top: 35px;
    text-align: center;
    font: 400 15px "Roboto", sans-serif;
    color: white;
    background-color: #AD0003;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
}

#botao:hover{
    margin-top: 35px;
    text-align: center;
    font: 400 15px "Roboto", sans-serif;
    color: white;
    background-color: #cc1518;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 25px;
}
